<!-- Navigation -->
<a href="index.html" id="icon">
	<img src="/assets/img/icon_maze_key.svg" alt="pgp.asc logo"></img>
</a>
<nav class="clearfix">
	<ul class="nav clearfix">
		<a href="index.html" class="nav__item"><li>Home</li></a>
		<a href="halloffame.html" class="nav__item"><li class=" nav__item--active">Hall of Fame</li></a>
		<a href="pgpguide.html" class="nav__item"><li>PGP Guide</li></a>
	</ul>
	<a href="#" id="pull"></a>
</nav>
<!-- End of Navigation -->

<!-- Content -->
<section class="content" id="content">
	<h1>Hall of Fame</h1>
	<p>To get in the Hall of Fame, simply send the link of your website to contact [at] mstoiber [dot] com.</p>	
	<ul>
		<% @persons.each do |person| %>
			<li><%= person.name %> - <a href="<%= person.url %>"><%= person.url %></a></li>
		<% end %>
	</ul>
</section>
<!-- End of Content -->