<%= render 'nav' %>

<!-- Content -->
<section class="content" id="content">
	<h1>Hall of Fame</h1>
	<p>To get in the Hall of Fame, simply send the link of your website to contact [at] mstoiber [dot] com.</p>	
	<ul>
		<% @persons.each do |person| %>
			<li><%= person.name %> - <a href="<%= person.url %>"><%= person.url %></a></li>
		<% end %>
	</ul>
</section>
<!-- End of Content -->