//
// SCSS
//

@import "normalize.scss";

/*
 * Grid
 */ 

@import "partials/unsemantic-grid-responsive";

// Colors

$darkblue: #008dba;
$black: #313131;
$grey: #6e6e6e;
$lightgrey: #F8F8F8;
$basecolor: #394856;

// Typography

$sans: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
$monospace: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

// Mixins

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// Functions

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix($color, white, (100-$percentage));
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix($color, black, (100-$percentage));
}

/* 
 * General stuff
 */

body {
	background-color: $lightgrey;
	color: $black;
	font-family: $sans;
}

h1 {
	font-family: $monospace;
	color: $basecolor;
	text-align: center;
}

h2, .footer h3, h4, h5 {
 	font-family: $monospace;
	color: tint($basecolor,10);
}

 section {
 	padding-bottom: 20px;
 	padding-top: 20px;
 }

 section:first-child {
 	padding-top: 0px;
 }

 a {
 	color: tint($basecolor,10);
 	&:hover,
 	&:focus,
 	&:active {
 		color: $basecolor;
 	}
 	text-decoration: none;
 	@include transition(100ms);
 }

 a:hover {
 	color: $darkblue;
 }

 a:active {
 	position: relative; 
 	top: 1px;
 }

/* 
 * Header
 */

.header {
	background-color: $lightgrey;
	&:first-child {
		padding-top: 2em;
	}
 	a {
 		color: tint($basecolor, 5);
 		&:hover,
 		&:focus,
 		&:active {
 			color: tint($basecolor,15);
	 	}
 	}
}

/* Logo */

.logo {
	margin-top: 0;
	text-align: center;
	font-family: $monospace;
	font-size: 2em;
	letter-spacing: 0.035em;
	font-weight: 400;
	color: $lightgrey;
	a {
		color: tint($basecolor,5);
		&:hover,
		&:focus,
		&:active {
			color: tint($basecolor,15);
		}
	}
}

/* Navigation */

.navWrapper {
	text-align: center;
}

.nav {
	-webkit-padding-start: 0px;
}

.nav li {
	display: inline-block;
	list-style-type: none;
	text-transform: lowercase;
}

.nav li:before {
	content: " / ";
}

.nav li:first-child:before {
	content: "";
}

.current {
	font-weight: bold;
}

/*
 * Main Area
 */

 .about {
 	border-bottom: 1px solid #d8d8d8;
 }

/*
 * Footer
 */
 .footer h3 {
 	color: $grey;
 }
