/*
 * SCSS
 */

 /* Color */

$lightblue: #00b0e9;
$darkblue: #008dba;
$black: #313131;
$darkgrey: #505050;
$grey: #6e6e6e;
$mediumgrey: #CCC;
$lightgrey: #F8F8F8;
$white: #FFF;

// palette.
$ci-color: #394856;

/* Typography */
$sans: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
$monospace: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

/* Mixins */

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

/* 
 * General stuff
 */

body {
	background-color: $lightgrey;
	color: $black;
	font-family: $sans;
}

h1 {
	font-family: $monospace;
	color: $ci-color;
	text-align: center;
}

h2, .footer h3, h4, h5 {
 	font-family: $monospace;
	color: lighten($ci-color,10);
}

 section {
 	padding-bottom: 20px;
 	padding-top: 20px;
 }

 section:first-child {
 	padding-top: 0px;
 }

 a {
 	color: lighten($ci-color,10);
 	&:hover,
 	&:focus,
 	&:active {
 		color: $ci-color;
 	}
 	text-decoration: none;
 	@include transition(100ms);
 }

 a:hover {
 	color: $darkblue;
 }

 a:active {
 	position: relative; 
 	top: 1px;
 }

/* 
 * Header
 */

.header {
	background-color: $lightgrey;
	&:first-child {
		padding-top: 2em;
	}
 	a {
 		color: lighten($ci-color, 5);
 		&:hover,
 		&:focus,
 		&:active {
 			color: lighten($ci-color,15);
	 	}
 	}
}

/* Logo */

.logo {
	margin-top: 0;
	text-align: center;
	font-family: $monospace;
	font-size: 2em;
	letter-spacing: 0.035em;
	font-weight: 400;
	color: $lightgrey;
	a {
		color: lighten($ci-color,5);
		&:hover,
		&:focus,
		&:active {
			color: lighten($ci-color,15);
		}
	}
}

/* Navigation */

.navWrapper {
	text-align: center;
}

.nav {
	-webkit-padding-start: 0px;
}

.nav li {
	display: inline-block;
	list-style-type: none;
	text-transform: lowercase;
}

.nav li:before {
	content: " / ";
}

.nav li:first-child:before {
	content: "";
}

.current {
	font-weight: bold;
}

/*
 * Main Area
 */

 .about {
 	border-bottom: 1px solid #d8d8d8;
 }

/*
 * Footer
 */
 .footer h3 {
 	color: $grey;
 }
