/*
 * SCSS
 */
/* Color */
/* Typography */
/* Mixins */
/* 
 * General stuff
 */
body {
  background-color: #f8f8f8;
  color: #313131;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

h1 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: #313131;
  text-align: center; }

h2, h3, h4, h5 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: #505050; }

section {
  padding-bottom: 20px;
  padding-top: 20px; }

section:first-child {
  padding-top: 0px; }

a {
  color: #00b0e9;
  text-decoration: none;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms; }

a:hover {
  color: #008dba; }

a:active {
  position: relative;
  top: 1px; }

/* 
 * Header
 */
.header {
  background-color: #6e6e6e; }
  .header:first-child {
    padding-top: 2em; }
  .header a {
    color: #cccccc; }
    .header a:hover, .header a:focus, .header a:active {
      color: white;
      top: 0px; }

/* Logo */
.logo {
  margin-top: 0;
  text-align: center;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 2em;
  letter-spacing: 0.035em;
  font-weight: 400;
  color: #f8f8f8; }
  .logo a {
    color: inherit; }
    .logo a:hover, .logo a:focus, .logo a:active {
      color: #505050; }

/* Navigation */
.navWrapper {
  text-align: center; }

.nav {
  -webkit-padding-start: 0px; }

.nav li {
  display: inline-block;
  list-style-type: none;
  text-transform: lowercase; }

.nav li:before {
  content: " / "; }

.nav li:first-child:before {
  content: ""; }

.current {
  font-weight: bold; }

/*
 * Main Area
 */
.about {
  border-bottom: 1px solid #d8d8d8; }

.main {
  border-bottom: 1px solid #d8d8d8; }

/*
 * Footer
 */
.footer h3 {
  color: #6e6e6e; }

.header {
  background-color: lightslategray;
  background-image: linear-gradient(to bottom, lightslategray, #546270); }
  .header a {
    color: lightslategray; }
    .header a:hover, .header a:focus, .header a:active {
      color: #495561; }

.logo a {
  color: #495561; }
  .logo a:hover, .logo a:focus, .logo a:active {
    color: #1d2227; }

h1 {
  color: lightslategray; }

h2, h3, .footer h3 {
  color: #b1bbc5; }

a {
  color: #94a2af; }
  a:hover, a:focus, a:active {
    color: lightslategray; }
